#page{
    background-color: white;
    width: 700px;
    height: 500px;
    margin: auto;
}

#tittle{
    color: #0000ff;
    text-align: center;
}

#zzz{
    text-align: center;
}

#abc{
    color: #ff0000;
}
